{{#each blogposts as |blogpost|}}
<div class="card text-left mb-5 ml-5 mr-5">
  <div class="card-header">{{title}} </div>
    <div class="card-body">
        <p class="card-text">{{body}}</p>
    </div>
     <div class="card-footer text-muted"> 2 days ago</div>
 </div>
{{/each}}